.image-scroll-container {
  width: 100%;
  /* Full width of the viewport */
  overflow-x: auto;
  /* Enable horizontal scrolling */
  white-space: nowrap;
  /* Prevent line breaks */
  background-color: #FFFFFF;
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center items vertically */
}

.image-scroll {
  display: inline-block;
  /* Allow images to be in a row */
  flex-grow: 1; /* Allow the image scroll to take available space */
}

.scroll-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px; /* Adjust size as needed */
  padding: 10px; /* Add some padding */
  color: #888787; /* Change color as needed */
  margin: 0 5px;
}

.image-item {
  display: inline-block;
  /* Allow images and titles to be in a column */
  text-align: center;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
  /* Hide overflow to keep the frame intact */
  width: 200px;
  height: 150px;
  border-radius: 15px;
}

.image-item img {
  width: 100%;
  /* Make the image fill the container */
  height: 100%;
  /* Make the image fill the container */
  object-fit: cover;
  /* Maintain aspect ratio and cover the area */
  transition: transform 0.3s ease;
  /* Smooth transition */
  border-radius: 15px;
  /* Keep the image corners rounded */
}

.image-item:hover img {
  transform: scale(1.05);
  /* Scale up by 5% on hover */
}

.image-title {
  margin-top: 10px;
  /* Space between image and title */
  font-weight: bold;
  /* Make title bold */
}

/* Fade Out Title */
.fade-effect {
  opacity: 1;
  animation: fadeOut 10s forwards;
  /* Total duration: 10s */
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    /* 100% opacity */
  }

  80% {
    opacity: 1;
    /* Stay at 100% for 8 seconds */
  }

  100% {
    opacity: 0.0;
    /* Fade to 30% opacity */
  }
}

/* Hover effect */
#logo:hover,
#sub-title:hover {
  opacity: 1 !important;
  /* Return to 100% opacity on hover */
  animation: none;
  /* Stop the fade-out animation */
}

/* Scroll inside MODAL */
.scrollable-box {
  max-width: 900px;
  /* Set your desired max width */
  max-height: 70vh;
  /* Set max height to 80% of the viewport height */
  overflow-y: auto;
  /* Enable vertical scrolling */
  background-color: #f7f0e3;
  /* Optional: Background color (#f7ede9) (#f7f0e3) (#FCFAF6)  */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* Optional: Add a shadow */
}
