<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <!-- ===============================================-->
  <!--    Document Title-->
  <!-- ===============================================-->
  <title>blue</title>


  <!-- ===============================================-->
  <!--    Favicons-->
  <!-- ===============================================-->
  <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/assets/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/img/favicons/favicon-16x16.png">
  <link rel="shortcut icon" type="image/x-icon" href="../static/assets/img/favicons/favicon.ico">
  <link rel="manifest" href="../static/assets/img/favicons/manifest.json">
  <meta name="msapplication-TileImage" content="../static/assets/img/favicons/mstile-150x150.png">
  <meta name="theme-color" content="#ffffff">


  <!-- ===============================================-->
  <!--    Stylesheets-->
  <!-- ===============================================-->
  <link
    href="../static/assets/css/fonts-raleway.css?family=Raleway:100,200,300,400,500,700&amp;#x7c;Trirong:200,200i,300,300i,400,400i"
    rel="stylesheet">
  <link href="../static/assets/css/fonts-roboto.css?family=Roboto:100,300,400,500,700,900&amp;#x7c" rel="stylesheet">
  <link href="../static/assets/lib/owl.carousel/owl.carousel.css" rel="stylesheet">
  <link href="../static/assets/lib/remodal/remodal.css" rel="stylesheet">
  <link href="../static/assets/lib/remodal/remodal-default-theme.css" rel="stylesheet">
  <link href="../static/assets/lib/jquery.mb.ytplayer/jquery.mb.YTPlayer.min.css" rel="stylesheet">
  <link href="../static/assets/css/theme.css" rel="stylesheet">
  <link href="../static/assets/lib/plyr/plyr.css" rel="stylesheet">

  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css" /> -->
  <link href="../static/assets/lib/ion.rangeSlider/css/ion.rangeSlider.css" rel="stylesheet">
  <link href="../static/js_blue_app/vik-hor-scroll.css" rel="stylesheet">

  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function () {
        navigator.serviceWorker.register("/sw.js").then(function (registration) {
          console.log('ServiceWorker registration successful with scope: ', registration.scope);
        }, function (err) {
          console.log('ServiceWorker registration failed: ', err);
        });
      });
    }
  </script>
</head>

<body data-spy="scroll" data-target="#navbar-one-page" data-offset="80" style="overflow-y: hidden;">

  <!-- ===============================================-->
  <!--    MAIN MENU -->
  <!-- ===============================================-->
  <nav class="navbar navbar-expand-sm navbar-dark navbar-theme fixed-top py-0">
    <div class="container">

      <a class="text-400 navbar-brand font-weight-normal" href="#" id="mute-toggle" data-remodal-target="modal-volume"
        data-toggle="tooltip" data-placement="top" title="Volume">
        <i class="fas fa-volume-up" id="mute-icon"></i>
      </a>
      <a class="text-400 navbar-brand font-weight-normal" href="#" id="rnd-toggle" data-toggle="tooltip"
        data-placement="top" title="Play Random / Pause">
        <i class="fas fa-dice" id="rnd-icon"></i>
      </a>
      <a class="text-400 navbar-brand font-weight-normal" href="#" id="play-toggle" data-toggle="tooltip"
        data-placement="top" title="Play / Pause">
        <i class="fas fa-play" id="play-icon"></i>
      </a>

      <button id="navbarToggle" class="navbar-toggler collapsed" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-open-icon fas fa-bars"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ml-auto" id="navbar-one-page">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false" id="dropdown1"><b>Music</b></a>
            <div class="dropdown-menu" aria-labelledby="dropdown1">
              <a class="dropdown-item" href="#!" data-remodal-target="modal-pepe">Pepe Danza</a>
              <a class="dropdown-item" href="#!" data-remodal-target="modal-laeela">Laeela</a>
              <a class="dropdown-item" href="#!" data-remodal-target="modal-hanna-anne">Hanna Now</a>
              <a class="dropdown-item" href="#!" data-remodal-target="modal-kaya">Kaya Lumina</a>
              <a class="dropdown-item" href="#!" data-remodal-target="modal-whales">Whale Sounds</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false" id="dropdown4"><b>Meditation</b></a>
            <div class="dropdown-menu" aria-labelledby="dropdown4">
              <a class="dropdown-item" href="#!" data-remodal-target="modal-medit-vitorio">Vitorio</a>
              <a class="dropdown-item" href="#!" data-remodal-target="modal-medit-evia">Evia</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#!" data-remodal-target="modal-soundscape">Soundscapes</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false" id="dropdown3"><b>Video</b></a>
            <div class="dropdown-menu" aria-labelledby="dropdown3">
              <a class="dropdown-item" href="#!"
                onclick="addVideo('https://club-of-life.com/media-cms/video/water/blue-wave.mp4');">Blue Wave</a>
              <a class="dropdown-item" href="#!"
                onclick="addVideo('https://club-of-life.com/media-cms/video/water/water-01.mp4');">Blue Water</a>
              <a class="dropdown-item" href="#!"
                onclick="addVideo('https://club-of-life.com/media-cms/video/water/water-02.mp4');">Crystaline</a>
              <a class="dropdown-item" href="#!"
                onclick="addVideo('https://club-of-life.com/media-cms/video/water/1080x720_jellyfish-01-60s.mp4');">Jelly Fish</a>
              <a class="dropdown-item" href="#!" data-remodal-target="modal-video">More...</a>
            </div>
          </li>
        </ul>

      </div>

    </div>
  </nav>

  <!-- ===============================================-->
  <!--    Main Content-->
  <!-- ===============================================-->
  <main>

    <!-- ============================================-->
    <!-- Preloader ==================================-->
    <div class="preloader" id="preloader">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-white-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================-->
    <!-- End of Preloader ===========================-->

    <section class="py-0 text-center" id="top" data-zanim-timeline="{}" data-zanim-trigger="scroll">

      <!-- <div class="bg-holder overlay overlay-z-index-1"
        style="background-image:url(../static/assets/img/headers/header-blue.jpg);">

        <video class="bg-video" autoplay="autoplay" loop="loop" muted="muted">
          <source src="https://club-of-life.com/media-cms/video/water/blue-wave.mp4" type="video/mp4">
        </video>

      </div> -->

      {% set album_index = 0 %} {# Specify the index of the video you want to use #}
      {% set video_index = 0 %} {# Specify the index of the video you want to use #}
      {% set default_video_src = videos[0].albums[album_index].albumVideos[video_index].src %}
      {% set default_thumb_src = videos[0].albums[album_index].albumVideos[video_index].thumb %}

      <div class="bg-holder overlay overlay-z-index-1" id="video-background"
        style="background-image:url({{ default_thumb_src }});">
        <video class="bg-video" id="bg-video" autoplay="autoplay" loop="loop" muted="muted">
          <source src="{{ default_video_src }}" type="video/mp4">
        </video>
      </div>

      <div class="header-overlay"></div>
      <div class="container">

        <div class="d-flex flex-center vh-100">
          <div class="header-text">
            <div class="overflow-hidden">
              <img class="w-50 opacity-40 fade-effect" id="logo" data-zanim-xs='{"duration":3,"delay":0}'
                src="../static/assets/img/illustration/blue-title-2.png" alt="" />
              <p id="sub-title" class="lead display-3 text-white fs-2 fs-md-4 fade-effect"
                data-zanim-xs='{"duration":3,"delay":1.2}'>Relax Deeper</p>
            </div>
          </div>
        </div>

      </div>
    </section>


  </main>
  <!-- ===============================================-->
  <!--    End of Main Content-->
  <!-- ===============================================-->



  <!-- ===============================================-->
  <!--    Modal Dialog Boxes-->
  <!-- ===============================================-->

  <!-- MODAL VIDEO -->

  {% for video in videos %}
  <div class="remodal rounded-soft" data-remodal-id="{{ video.modal }}">
    <!-- <button class="remodal-close" data-remodal-action="close"></button> -->

    <div style="position: relative; display: inline-block; width: 100%;">
      <h4 style="margin: 0;">{{ video.artist | safe }}</h4>
      <a class="text-900 navbar-brand" href="#" data-toggle="tooltip" data-placement="top" title="Mute / Unmute"
        style="position: absolute; right: -20px; top: -15px;">
        <i class="fas fa-times" id="mute-icon"></i>
      </a>
    </div>

    <div class="scrollable-box">
      {% for album in video.albums %}
      <div class="card-header text-left">
        <h5 class="fs-1">{{ album.albumName | safe }}</h5>
      </div>
      <div class="image-scroll-container">
        <div class="scroll-button left-button">
          <i class="fas fa-angle-right"></i>
        </div>
        <div class="image-scroll my-2">
          {% for videoItem in album.albumVideos %}
          <div class="image-item">
            <a href="#!" onclick="addVideo('{{ videoItem.src }}');">
              <img src="{{ videoItem.thumb }}" alt="{{ videoItem.title }}">
              <div class="image-title">{{ videoItem.title }}</div>
            </a>
          </div>
          {% endfor %}
        </div>
        <div class="scroll-button right-button">
          <i class="fas fa-angle-left"></i>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- <button class="btn btn-sm btn-dark mr-3 mt-3" data-remodal-action="confirm">OK</button> -->
  </div>
  {% endfor %}


  <!-- MODAL MEDITATIONS -->

  {% for artist in meditations %}
  <div class="remodal rounded-soft" data-remodal-id="{{ artist.modal }}">
    <!-- <button class="remodal-close" data-remodal-action="close"></button> -->

    <div style="position: relative; display: inline-block; width: 100%;">
      <h4 style="margin: 0;">{{ artist.artist | safe }}</h4>
      <a class="text-900 navbar-brand" href="#" data-placement="top"
        style="position: absolute; right: -20px; top: -15px;">
        <i class="fas fa-times" id="mute-icon"></i>
      </a>
    </div>

    <div class="scrollable-box">
      {% for album in artist.albums %}
      <div class="card-header text-left">
        <h5 class="fs-1">{{ album.albumName | safe }}</h5>
      </div>
      <ul class="list-group list-group-flush text-left">
        {% for song in album.albumSongs %}
        <li class="list-group-item">
          <p class="card-title font-weight-medium">{{ song.name }}</p>
          <audio class="player meditation" controls>
            <source src="{{ song.src }}" type="audio/mp3" />
          </audio>
        </li>
        {% endfor %}
      </ul>
      {% endfor %}
    </div>

    <!-- <button class="btn btn-sm btn-dark mr-3 mt-3" data-remodal-action="confirm">OK</button> -->
  </div>
  {% endfor %}


  <!-- MODAL SOUNDSCAPES -->

  {% for artist in soundscapes %}
  <div class="remodal rounded-soft" data-remodal-id="{{ artist.modal }}">
    <!-- <button class="remodal-close" data-remodal-action="close"></button> -->

    <div style="position: relative; display: inline-block; width: 100%;">
      <h4 style="margin: 0;">{{ artist.artist | safe }}</h4>
      <a class="text-900 navbar-brand" href="#" data-placement="top"
        style="position: absolute; right: -20px; top: -15px;">
        <i class="fas fa-times" id="mute-icon"></i>
      </a>
    </div>

    <div class="scrollable-box">
      {% for album in artist.albums %}
      <div class="card-header text-left">
        <h5 class="fs-1">{{ album.albumName | safe }}</h5>
      </div>
      <ul class="list-group list-group-flush text-left">
        {% for song in album.albumSongs %}
        <li class="list-group-item">
          <p class="card-title font-weight-medium">{{ song.name }}</p>
          <audio class="player soundscape" controls>
            <source src="{{ song.src }}" type="audio/mp3" />
          </audio>
        </li>
        {% endfor %}
      </ul>
      {% endfor %}
    </div>

    <!-- <button class="btn btn-sm btn-dark mr-3 mt-3" data-remodal-action="confirm">OK</button> -->
  </div>
  {% endfor %}


  <!-- MODAL MUSIC -->

  {% for artist in music %}
  <div class="remodal rounded-soft" data-remodal-id="{{ artist.modal }}">
    <!-- <button class="remodal-close" data-remodal-action="close"></button> -->

    <div style="position: relative; display: inline-block; width: 100%;">
      <h4 style="margin: 0;">{{ artist.artist | safe }}</h4>
      <a class="text-900 navbar-brand" href="#" data-placement="top"
        style="position: absolute; right: -20px; top: -15px;">
        <i class="fas fa-times" id="mute-icon"></i>
      </a>
    </div>

    <div class="scrollable-box">
      {% for album in artist.albums %}
      <div class="card-header text-left">
        <h5 class="fs-1">{{ album.albumName | safe }}</h5>
      </div>
      <ul class="list-group list-group-flush text-left">
        {% for song in album.albumSongs %}
        <li class="list-group-item">
          <p class="card-title font-weight-medium">{{ song.name }}</p>
          <audio class="player music" controls>
            <source src="{{ song.src }}" type="audio/mp3" />
          </audio>
        </li>
        {% endfor %}
      </ul>
      {% endfor %}
    </div>

    <!-- <button class="btn btn-sm btn-dark mr-3 mt-3" data-remodal-action="confirm">OK</button> -->
  </div>
  {% endfor %}


  <!-- MODAL VOLUME -->

  <div class="remodal rounded-soft" data-remodal-id="modal-volume">
    <!-- <button class="remodal-close" data-remodal-action="close"></button> -->
    <h4>Player <span class="font-weight-bold"> Volume</span></h4>
    <div id="vol1_block"><input type="text" id="volume_1" /><br></div>
    <div id="vol2_block"><input type="text" id="volume_2" /><br></div>
    <button class="btn btn-sm btn-dark mr-3" data-remodal-action="confirm">OK</button>
  </div>

  <!-- ============================================-->
  <!-- END of Modal Dialog Boxes ==================-->
  <!-- ============================================-->



  <!-- ===============================================-->
  <!--    JavaScripts-->
  <!-- ===============================================-->
  <script src="../static/assets/js/jquery.min.js"></script>
  <script src="../static/assets/js/bootstrap.js"></script>
  <script src="../static/assets/js/plugins.js"></script>
  <script src="../static/assets/js/theme.js"></script>
  <script src="../static/assets/lib/plyr/plyr.polyfilled.min.js"></script>
  <script src="../static/assets/lib/owl.carousel/owl.carousel.js"></script>
  <script src="../static/assets/lib/remodal/remodal.min.js"></script>
  <script src="../static/assets/lib/jquery.mb.ytplayer/jquery.mb.YTPlayer.min.js"></script>

  <script src="../static/assets/js/stickyfill.min.js"></script>
  <script src="../static/assets/lib/@fortawesome/all.min.js"></script>
  <script src="../static/assets/js/popper.min.js"></script>
  <script src="../static/assets/js/rellax.min.js"></script>

  <script src="../static/assets/lib/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/lib/isotope-packery/packery-mode.pkgd.min.js"></script>
  <script src="../static/assets/lib/hover-dir/jquery.hoverdir.js"></script>

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script> -->
  <script src="../static/assets/lib/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
  <script src="../static/js_blue_app/blue.js"></script>
</body>

</html>